In [1]:
# 현재 가상 머신을 자신의 구글 드라이브와 연결
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [2]:
# geopandas 및 관련 패키지 설치
!pip install geopandas folium mapclassify

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geopandas
  Downloading geopandas-0.13.2-py3-none-any.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 21.7 MB/s eta 0:00:00
Requirement already satisfied: folium in /usr/local/lib/python3.10/dist-packages (0.14.0)
Collecting mapclassify
  Downloading mapclassify-2.5.0-py3-none-any.whl (39 kB)
Collecting fiona>=1.8.19 (from geopandas)
  Downloading Fiona-1.9.4.post1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 66.3 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from geopandas) (23.1)
Requirement already satisfied: pandas>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from geopandas) (1.5.3)
Collecting pyproj>=3.0.1 (from geopandas)
  Downloading pyproj-3.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.7/7.7 MB 67.9 MB/s eta 0:00:00
Requirement already satisfied: shapely>=1.7.1 in /usr/local/lib/python3.10/dist-packages (from geopandas) (2.0.1)
Requirement already satisfied: branca>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from folium) (0.6.0)
Requirement already satisfied: jinja2>=2.9 in /usr/local/lib/python3.10/dist-packages (from folium) (3.1.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from folium) (1.22.4)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from folium) (2.27.1)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.10/dist-packages (from mapclassify) (1.10.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from mapclassify) (1.2.2)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from mapclassify) (3.1)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (23.1.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (2022.12.7)
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (8.1.3)
Collecting click-plugins>=1.0 (from fiona>=1.8.19->geopandas)
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting cligj>=0.5 (from fiona>=1.8.19->geopandas)
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2>=2.9->folium) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (2022.7.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->folium) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->folium) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->folium) (3.4)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->mapclassify) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->mapclassify) (3.1.0)
Installing collected packages: pyproj, cligj, click-plugins, fiona, mapclassify, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.9.4.post1 geopandas-0.13.2 mapclassify-2.5.0 pyproj-3.5.0

In [3]:
import pandas as pd
import geopandas as gpd

In [4]:
# 종분포 데이터
gdf_pt = gpd.read_file('/content/gdrive/My Drive/Colab Notebooks/sea/data/geo_mbris_obis_edu_light2.gpkg', encoding="UTF-8")
gdf_pt.info()
gdf_pt.head()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 11041 entries, 0 to 11040
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   spc_scitf_nm  11041 non-null  object
 1   comm_kor_nm   8148 non-null   object
 2   genus         11034 non-null  object
 3   genus_nm      8180 non-null   object
 4   family        11037 non-null  object
 5   family_nm     8146 non-null   object
 6   order_        11037 non-null  object
 7   order_nm      8098 non-null   object
 8   class         11041 non-null  object
 9   class_nm      8572 non-null   object
 10  phylum        11041 non-null  object
 11  phylum_nm     10328 non-null  object
 12  kingdom       11041 non-null  object
 13  kingdom_nm    11041 non-null  object
 14  lati_val      11041 non-null  float64
 15  loti_val      11041 non-null  float64
 16  col_bg_dt     11041 non-null  object
 17  ssea_id       11041 non-null  object
 18  sstrnc_no     10958 non-null  object
 19  kind          11041 non-null  object
 20  geometry      11041 non-null  geometry
dtypes: float64(2), geometry(1), object(18)
memory usage: 1.8+ MB

,spc_scitf_nm,comm_kor_nm,genus,genus_nm,family,family_nm,order_,order_nm,class,class_nm,...,phylum_nm,kingdom,kingdom_nm,lati_val,loti_val,col_bg_dt,ssea_id,sstrnc_no,kind,geometry
0,Bacillus pumilus,NaN,Bacillus,NaN,Bacillaceae,NaN,Caryophanales,NaN,Bacilli,NaN,...,NaN,Bacteria,세균계,37.284444,126.556389,20090325,W,5154-4,mbris,POINT (126.55639 37.28444)
1,Aetea anguina,자루이끼벌레,Aetea,자루이끼벌레속,Aeteidae,자루이끼벌레과,Cheilostomatida,순구목,Gymnolaemata,나후강,...,태형동물문,Animalia,동물계,33.168683,126.293617,20150605,SW,232-5,mbris,POINT (126.29362 33.16868)
2,Cellaria punctata,마디이끼벌레,Cellaria,마디이끼벌레속,Cellariidae,마디이끼벌레과,Cheilostomatida,순구목,Gymnolaemata,나후강,...,태형동물문,Animalia,동물계,33.168683,126.293617,20150605,SW,232-5,mbris,POINT (126.29362 33.16868)
3,Cellaria punctata,마디이끼벌레,Cellaria,마디이끼벌레속,Cellariidae,마디이끼벌레과,Cheilostomatida,순구목,Gymnolaemata,나후강,...,태형동물문,Animalia,동물계,33.168683,126.293617,20150605,SW,232-5,mbris,POINT (126.29362 33.16868)
4,Reteporellina denticulata,등색망이끼벌레,Reteporellina,망이끼벌레속,Phidoloporidae,연구멍이끼벌레과,Cheilostomatida,순구목,Gymnolaemata,나후강,...,태형동물문,Animalia,동물계,33.168683,126.293617,20150605,SW,232-5,mbris,POINT (126.29362 33.16868)

In [5]:
# 해양물리자료
gdf_model = gpd.read_file('/content/gdrive/My Drive/Colab Notebooks/sea/data/phisics/data.gpkg', encoding="UTF-8")
gdf_model.info()
gdf_model.head()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2926 entries, 0 to 2925
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   gid       2926 non-null   int64
 1   lati_val  2926 non-null   object
 2   loti_val  2926 non-null   object
 3   cur_spd   2926 non-null   float64
 4   cur_dir   2926 non-null   float64
 5   wtem      2926 non-null   float64
 6   slnty     2926 non-null   float64
 7   obsr_dt   2926 non-null   object
 8   geometry  2926 non-null   geometry
dtypes: float64(4), geometry(1), int64(1), object(3)
memory usage: 205.9+ KB

,gid,lati_val,loti_val,cur_spd,cur_dir,wtem,slnty,obsr_dt,geometry
0,33343433,26.125,120.125,0.043738,79.460815,21.058001,33.359001,201911,"MULTIPOLYGON (((120.00000 26.00000, 120.00000 ..."
1,33343434,26.125,120.375,0.029833,140.440338,21.926001,33.463001,201911,"MULTIPOLYGON (((120.25000 26.00000, 120.25000 ..."
2,33343435,26.125,120.625,0.087092,267.367554,22.434000,33.562000,201911,"MULTIPOLYGON (((120.50000 26.00000, 120.50000 ..."
3,33343436,26.125,120.875,0.160611,264.999359,22.709000,33.610001,201911,"MULTIPOLYGON (((120.75000 26.00000, 120.75000 ..."
4,33343437,26.125,121.125,0.116069,271.974945,23.181999,33.687000,201911,"MULTIPOLYGON (((121.00000 26.00000, 121.00000 ..."

In [6]:
# 수치형 데이터 기술 통계 검토
gdf_model.describe()

                gid      cur_spd      cur_dir         wtem        slnty
count  2.926000e+03  2926.000000  2926.000000  2926.000000  2926.000000
mean   3.336673e+07     0.191633   156.086862    20.005514    33.431636
std    1.528847e+04     0.187484   118.661733     4.792959     1.071796
min    3.334343e+07     0.001414     0.000000     4.049999    30.149000
25%    3.335339e+07     0.065620    49.902904    17.093000    33.235001
50%    3.336449e+07     0.127636   114.666259    21.297999    33.598999
75%    3.338048e+07     0.251693   277.356636    24.309001    34.380001
max    3.339894e+07     1.056907   359.871521    26.294001    34.639999

### 2019년 11월 해양물리(수치모델)에서 수온 10도 이상 20도 미만을 추출

In [7]:
gdf_model2 = gdf_model[(gdf_model.wtem >= 10) & (gdf_model.wtem < 20)  ]
gdf_model2.info()
gdf_model2.head()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 1222 entries, 652 to 2896
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   gid       1222 non-null   int64
 1   lati_val  1222 non-null   object
 2   loti_val  1222 non-null   object
 3   cur_spd   1222 non-null   float64
 4   cur_dir   1222 non-null   float64
 5   wtem      1222 non-null   float64
 6   slnty     1222 non-null   float64
 7   obsr_dt   1222 non-null   object
 8   geometry  1222 non-null   geometry
dtypes: float64(4), geometry(1), int64(1), object(3)
memory usage: 95.5+ KB

,gid,lati_val,loti_val,cur_spd,cur_dir,wtem,slnty,obsr_dt,geometry
652,33352552,28.875,122.125,0.151347,248.690689,19.865,32.653000,201911,"MULTIPOLYGON (((122.00000 28.75000, 122.00000 ..."
767,33354179,29.375,122.375,0.140089,214.824493,19.931,32.530998,201911,"MULTIPOLYGON (((122.25000 29.25000, 122.25000 ..."
987,33357324,30.375,122.625,0.099925,13.897176,19.645,32.139000,201911,"MULTIPOLYGON (((122.50000 30.25000, 122.50000 ..."
1038,33358095,30.625,122.125,0.030463,23.198589,18.164,31.611999,201911,"MULTIPOLYGON (((122.00000 30.50000, 122.00000 ..."
1039,33358096,30.625,122.375,0.128969,56.063499,18.961,31.863001,201911,"MULTIPOLYGON (((122.25000 30.50000, 122.25000 ..."

### 추출한 해양물리 영역에 위치하는 종분포 데이터만 추출

In [8]:
gdf_model3 = gdf_model2[ (gdf_model2.obsr_dt == '201911') & (gdf_model2.wtem >= 10) & (gdf_model2.wtem < 20)  ]

In [9]:
# 종분포(포인트)에  해양물리를 공간조인  
gdf_pt2 = gpd.sjoin(gdf_pt, gdf_model2 )
gdf_pt2.info()
gdf_pt2.head()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 1181 entries, 8 to 10950
Data columns (total 30 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   spc_scitf_nm    1181 non-null   object
 1   comm_kor_nm     976 non-null    object
 2   genus           1178 non-null   object
 3   genus_nm        936 non-null    object
 4   family          1179 non-null   object
 5   family_nm       982 non-null    object
 6   order_          1179 non-null   object
 7   order_nm        984 non-null    object
 8   class           1181 non-null   object
 9   class_nm        996 non-null    object
 10  phylum          1181 non-null   object
 11  phylum_nm       1058 non-null   object
 12  kingdom         1181 non-null   object
 13  kingdom_nm      1181 non-null   object
 14  lati_val_left   1181 non-null   float64
 15  loti_val_left   1181 non-null   float64
 16  col_bg_dt       1181 non-null   object
 17  ssea_id         1181 non-null   object
 18  sstrnc_no       1181 non-null   object
 19  kind            1181 non-null   object
 20  geometry        1181 non-null   geometry
 21  index_right     1181 non-null   int64
 22  gid             1181 non-null   int64
 23  lati_val_right  1181 non-null   object
 24  loti_val_right  1181 non-null   object
 25  cur_spd         1181 non-null   float64
 26  cur_dir         1181 non-null   float64
 27  wtem            1181 non-null   float64
 28  slnty           1181 non-null   float64
 29  obsr_dt         1181 non-null   object
dtypes: float64(6), geometry(1), int64(2), object(21)
memory usage: 286.0+ KB

,spc_scitf_nm,comm_kor_nm,genus,genus_nm,family,family_nm,order_,order_nm,class,class_nm,...,geometry,index_right,gid,lati_val_right,loti_val_right,cur_spd,cur_dir,wtem,slnty,obsr_dt
8,Dictyocysta occidentalis,NaN,Dictyocysta,NaN,Dictyocystidae,NaN,Tintinnida,유종충목,Spirotrichea,선모강,...,POINT (124.48583 33.11806),1538,33366126,33.125,124.375,0.020000,143.130096,18.715,31.848,201911
66,Charybdis (Gonioneptunus) bimaculata,두점박이민꽃게,Charybdis,민꽃게속,Portunidae,꽃게과,Decapoda,십각목,Malacostraca,연갑강,...,POINT (124.58581 32.90047),1498,33365300,32.875,124.625,0.096881,78.690071,18.917,31.952,201911
67,Charybdis (Gonioneptunus) bimaculata,두점박이민꽃게,Charybdis,민꽃게속,Portunidae,꽃게과,Decapoda,십각목,Malacostraca,연갑강,...,POINT (124.58581 32.90047),1498,33365300,32.875,124.625,0.096881,78.690071,18.917,31.952,201911
68,Portunus trituberculatus,꽃게,Portunus,꽃게속,Portunidae,꽃게과,Decapoda,십각목,Malacostraca,연갑강,...,POINT (124.58581 32.90047),1498,33365300,32.875,124.625,0.096881,78.690071,18.917,31.952,201911
69,Tintinnopsis rotundata,NaN,Tintinnopsis,종꼴소모충속,Codonellidae,무정종소모충과,Tintinnida,유종충목,Spirotrichea,선모강,...,POINT (124.68389 32.90028),1498,33365300,32.875,124.625,0.096881,78.690071,18.917,31.952,201911

In [10]:
# 컬럼이 너무 많아서 필요한 항목만 선택하여 다른 공간데이터프레임으로 저장
gdf_pt3 = gdf_pt2[['phylum', 'phylum_nm', 'geometry']]
gdf_pt3.info()
gdf_pt3.head()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 1181 entries, 8 to 10950
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   phylum     1181 non-null   object
 1   phylum_nm  1058 non-null   object
 2   geometry   1181 non-null   geometry
dtypes: geometry(1), object(2)
memory usage: 36.9+ KB

        phylum phylum_nm                    geometry
8   Ciliophora      섬모충문  POINT (124.48583 33.11806)
66  Arthropoda     절지동물문  POINT (124.58581 32.90047)
67  Arthropoda     절지동물문  POINT (124.58581 32.90047)
68  Arthropoda     절지동물문  POINT (124.58581 32.90047)
69  Ciliophora      섬모충문  POINT (124.68389 32.90028)

### 추출된 종분포와 해양생물해역을 공간조인

In [11]:
# 해양생물해역
gdf_area = gpd.read_file('/content/gdrive/My Drive/Colab Notebooks/sea/data/geo_zn_ocn_lvb_sarea.shp', encoding="UTF-8")
gdf_area.info()
gdf_area.head()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   gid         5 non-null      int64
 1   sarea_korn  5 non-null      object
 2   ssea_id     5 non-null      object
 3   geometry    5 non-null      geometry
dtypes: geometry(1), int64(1), object(2)
memory usage: 288.0+ bytes

   gid sarea_korn ssea_id                                           geometry
0    5       동해남부      ES  POLYGON ((129.66570 35.06455, 129.40532 34.971...
1    4       남해동부      SE  POLYGON ((127.82165 33.16382, 127.80000 33.121...
2    3         서해       W  POLYGON ((127.00000 38.00000, 127.00000 35.300...
3    2       남해서부      SW  POLYGON ((126.27256 30.28900, 126.21167 30.271...
4    1       동해중부      EM  POLYGON ((132.14285 36.50000, 129.30000 36.500...

In [12]:
# 종분포(포인트)에  해양물리를 공간조인  
gdf_pt3 = gpd.sjoin(gdf_pt3, gdf_area )
gdf_pt3.info()
gdf_pt3.head()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 1181 entries, 8 to 8104
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   phylum       1181 non-null   object
 1   phylum_nm    1058 non-null   object
 2   geometry     1181 non-null   geometry
 3   index_right  1181 non-null   int64
 4   gid          1181 non-null   int64
 5   sarea_korn   1181 non-null   object
 6   ssea_id      1181 non-null   object
dtypes: geometry(1), int64(2), object(4)
memory usage: 73.8+ KB

,phylum,phylum_nm,geometry,index_right,gid,sarea_korn,ssea_id
8,Ciliophora,섬모충문,POINT (124.48583 33.11806),3,2,남해서부,SW
66,Arthropoda,절지동물문,POINT (124.58581 32.90047),3,2,남해서부,SW
67,Arthropoda,절지동물문,POINT (124.58581 32.90047),3,2,남해서부,SW
68,Arthropoda,절지동물문,POINT (124.58581 32.90047),3,2,남해서부,SW
69,Ciliophora,섬모충문,POINT (124.68389 32.90028),3,2,남해서부,SW

### 해양생물해역별 문별 개체 수 집계

In [13]:
# 해양생물해역 - 문별 건수 집계
df_size = gdf_pt3.groupby(['sarea_korn', 'phylum'], as_index=False ).size() 
df_size.info()
df_size.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sarea_korn  58 non-null     object
 1   phylum      58 non-null     object
 2   size        58 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.5+ KB

  sarea_korn          phylum  size
0       남해동부        Chordata    25
1       남해동부      Ciliophora     2
2       남해동부    Foraminifera     4
3       남해서부  Actinomycetota     3
4       남해서부      Arthropoda    14

In [14]:
# 집계 결과 정렬 - 건수가 많은 순서대로 정렬
df_size_sort = df_size.sort_values(by='size', ascending=False)
df_size_sort.head()

   sarea_korn      phylum  size
48         서해    Chordata   133
10       남해서부    Chordata   105
17       남해서부  Ochrophyta    85
41       동해중부  Rhodophyta    78
57         서해  Rhodophyta    69

In [15]:
import plotly.express as px

In [16]:
# 집계 결과 차트 시각화 
fig = px.bar(df_size_sort, x="phylum", y="size", color="sarea_korn")
fig.show()

In [17]:
# 집계 결과를 csv로 저장 
df_size_sort.to_csv('/content/gdrive/My Drive/Colab Notebooks/sea/result/df_size_sort.csv', encoding='UTF-8')