In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
plt.rc('font', family='Malgun Gothic') #한글 폰트 적용시

In [2]:
import pandas as pd
import geopandas as gpd

c:\Users\leesh\AppData\Local\Programs\Python\Python311\Lib\site-packages\geopandas\_compat.py:124: UserWarning: The Shapely GEOS version (3.10.1-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

In [3]:
# 종분포 데이터
gdf_pt = gpd.read_file('../data/geo_mbris_obis_edu_light.gpkg', encoding="UTF-8")
gdf_pt.info()
gdf_pt.head()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 220833 entries, 0 to 220832
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   spc_scitf_nm  220833 non-null  object
 1   comm_kor_nm   163598 non-null  object
 2   genus         220681 non-null  object
 3   genus_nm      164667 non-null  object
 4   family        220727 non-null  object
 5   family_nm     163772 non-null  object
 6   order_        220742 non-null  object
 7   order_nm      162672 non-null  object
 8   class         220809 non-null  object
 9   class_nm      171786 non-null  object
 10  phylum        220811 non-null  object
 11  phylum_nm     206406 non-null  object
 12  kingdom       220833 non-null  object
 13  kingdom_nm    220833 non-null  object
 14  lati_val      220833 non-null  float64
 15  loti_val      220833 non-null  float64
 16  col_bg_dt     220833 non-null  object
 17  ssea_id       220833 non-null  object
 18  sstrnc_no     218990 non-null  object
 19  kind          220833 non-null  object
 20  geometry      220833 non-null  geometry
dtypes: float64(2), geometry(1), object(18)
memory usage: 35.4+ MB

,spc_scitf_nm,comm_kor_nm,genus,genus_nm,family,family_nm,order_,order_nm,class,class_nm,...,phylum_nm,kingdom,kingdom_nm,lati_val,loti_val,col_bg_dt,ssea_id,sstrnc_no,kind,geometry
0,Mucor circinelloides,None,Mucor,None,Mucoraceae,None,Mucorales,None,Mucoromycetes,None,...,None,Fungi,균계,38.481861,128.438194,20160802,EM,5055-3,mbris,POINT (128.43819 38.48186)
1,Paralinhomoeus gerlachi,None,Paralinhomoeus,None,Linhomoeidae,None,Monhysterida,None,Chromadorea,None,...,선형동물문,Animalia,동물계,38.269869,128.557564,20160415,EM,55-4,mbris,POINT (128.55756 38.26987)
2,Aplysia kurodai,군소,Aplysia,군소속,Aplysiidae,군소과,Aplysiida,None,Gastropoda,복족강,...,연체동물문,Animalia,동물계,38.271903,128.558261,20190522,EM,55-4,mbris,POINT (128.55826 38.27190)
3,Botrytis cinerea,None,Botrytis,None,Sclerotiniaceae,None,Helotiales,None,Leotiomycetes,None,...,None,Fungi,균계,38.153361,128.608306,19000100,EM,55-7,mbris,POINT (128.60831 38.15336)
4,Trichoderma,None,Trichoderma,None,Hypocreaceae,None,Hypocreales,None,Sordariomycetes,None,...,None,Fungi,균계,37.858556,128.854389,20160926,EM,62-3,mbris,POINT (128.85439 37.85856)

In [4]:
# 해양물리자료
gdf_model = gpd.read_file('../data/phisics/data.gpkg', encoding="UTF-8")
gdf_model.info()
gdf_model.head()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2926 entries, 0 to 2925
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   gid       2926 non-null   int64
 1   lati_val  2926 non-null   object
 2   loti_val  2926 non-null   object
 3   cur_spd   2926 non-null   float64
 4   cur_dir   2926 non-null   float64
 5   wtem      2926 non-null   float64
 6   slnty     2926 non-null   float64
 7   obsr_dt   2926 non-null   object
 8   geometry  2926 non-null   geometry
dtypes: float64(4), geometry(1), int64(1), object(3)
memory usage: 205.9+ KB

,gid,lati_val,loti_val,cur_spd,cur_dir,wtem,slnty,obsr_dt,geometry
0,33343433,26.125,120.125,0.043738,79.460815,21.058001,33.359001,201911,"MULTIPOLYGON (((120.00000 26.00000, 120.00000 ..."
1,33343434,26.125,120.375,0.029833,140.440338,21.926001,33.463001,201911,"MULTIPOLYGON (((120.25000 26.00000, 120.25000 ..."
2,33343435,26.125,120.625,0.087092,267.367554,22.434000,33.562000,201911,"MULTIPOLYGON (((120.50000 26.00000, 120.50000 ..."
3,33343436,26.125,120.875,0.160611,264.999359,22.709000,33.610001,201911,"MULTIPOLYGON (((120.75000 26.00000, 120.75000 ..."
4,33343437,26.125,121.125,0.116069,271.974945,23.181999,33.687000,201911,"MULTIPOLYGON (((121.00000 26.00000, 121.00000 ..."

In [5]:
# 수치형 데이터 기술 통계 검토
gdf_model.describe()

                gid      cur_spd      cur_dir         wtem        slnty
count  2.926000e+03  2926.000000  2926.000000  2926.000000  2926.000000
mean   3.336673e+07     0.191633   156.086862    20.005514    33.431636
std    1.528847e+04     0.187484   118.661733     4.792959     1.071796
min    3.334343e+07     0.001414     0.000000     4.049999    30.149000
25%    3.335339e+07     0.065620    49.902904    17.093000    33.235001
50%    3.336449e+07     0.127636   114.666259    21.297999    33.598999
75%    3.338048e+07     0.251693   277.356636    24.309001    34.380001
max    3.339894e+07     1.056907   359.871521    26.294001    34.639999

### 2019년 11월 해양물리(수치모델)에서 수온 10도 이상 20도 미만을 추출

In [6]:
gdf_model2 = gdf_model[(gdf_model.wtem >= 10) & (gdf_model.wtem < 20)  ]
gdf_model2.info()
gdf_model2.head()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 1222 entries, 652 to 2896
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   gid       1222 non-null   int64
 1   lati_val  1222 non-null   object
 2   loti_val  1222 non-null   object
 3   cur_spd   1222 non-null   float64
 4   cur_dir   1222 non-null   float64
 5   wtem      1222 non-null   float64
 6   slnty     1222 non-null   float64
 7   obsr_dt   1222 non-null   object
 8   geometry  1222 non-null   geometry
dtypes: float64(4), geometry(1), int64(1), object(3)
memory usage: 95.5+ KB

,gid,lati_val,loti_val,cur_spd,cur_dir,wtem,slnty,obsr_dt,geometry
652,33352552,28.875,122.125,0.151347,248.690689,19.865,32.653000,201911,"MULTIPOLYGON (((122.00000 28.75000, 122.00000 ..."
767,33354179,29.375,122.375,0.140089,214.824493,19.931,32.530998,201911,"MULTIPOLYGON (((122.25000 29.25000, 122.25000 ..."
987,33357324,30.375,122.625,0.099925,13.897176,19.645,32.139000,201911,"MULTIPOLYGON (((122.50000 30.25000, 122.50000 ..."
1038,33358095,30.625,122.125,0.030463,23.198589,18.164,31.611999,201911,"MULTIPOLYGON (((122.00000 30.50000, 122.00000 ..."
1039,33358096,30.625,122.375,0.128969,56.063499,18.961,31.863001,201911,"MULTIPOLYGON (((122.25000 30.50000, 122.25000 ..."

### 추출한 해양물리 영역에 위치하는 종분포 데이터만 추출

In [7]:
gdf_model3 = gdf_model2[ (gdf_model2.obsr_dt == '201911') & (gdf_model2.wtem >= 10) & (gdf_model2.wtem < 20)  ]

In [8]:
# 종분포(포인트)에  해양물리를 공간조인  
gdf_pt2 = gpd.sjoin(gdf_pt, gdf_model2 )
gdf_pt2.info()
gdf_pt2.head()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 24277 entries, 29 to 220823
Data columns (total 30 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   spc_scitf_nm    24277 non-null  object
 1   comm_kor_nm     19818 non-null  object
 2   genus           24250 non-null  object
 3   genus_nm        19078 non-null  object
 4   family          24256 non-null  object
 5   family_nm       20128 non-null  object
 6   order_          24256 non-null  object
 7   order_nm        20117 non-null  object
 8   class           24272 non-null  object
 9   class_nm        20339 non-null  object
 10  phylum          24272 non-null  object
 11  phylum_nm       21619 non-null  object
 12  kingdom         24277 non-null  object
 13  kingdom_nm      24277 non-null  object
 14  lati_val_left   24277 non-null  float64
 15  loti_val_left   24277 non-null  float64
 16  col_bg_dt       24277 non-null  object
 17  ssea_id         24277 non-null  object
 18  sstrnc_no       24218 non-null  object
 19  kind            24277 non-null  object
 20  geometry        24277 non-null  geometry
 21  index_right     24277 non-null  int64
 22  gid             24277 non-null  int64
 23  lati_val_right  24277 non-null  object
 24  loti_val_right  24277 non-null  object
 25  cur_spd         24277 non-null  float64
 26  cur_dir         24277 non-null  float64
 27  wtem            24277 non-null  float64
 28  slnty           24277 non-null  float64
 29  obsr_dt         24277 non-null  object
dtypes: float64(6), geometry(1), int64(2), object(21)
memory usage: 5.7+ MB

,spc_scitf_nm,comm_kor_nm,genus,genus_nm,family,family_nm,order_,order_nm,class,class_nm,...,geometry,index_right,gid,lati_val_right,loti_val_right,cur_spd,cur_dir,wtem,slnty,obsr_dt
29,Bacillus safensis,None,Bacillus,None,Bacillaceae,None,Caryophanales,None,Bacilli,None,...,POINT (130.18611 37.09500),2101,33378916,37.125,130.125,0.210858,84.83017,19.855,33.385002,201911
179996,Pagurus rubrior,얼룩참집게,Pagurus,참집게속,Paguridae,집게과,Decapoda,십각목,Malacostraca,연갑강,...,POINT (130.07278 37.06528),2101,33378916,37.125,130.125,0.210858,84.83017,19.855,33.385002,201911
179997,Pagurus pectinatus,빗참집게,Pagurus,참집게속,Paguridae,집게과,Decapoda,십각목,Malacostraca,연갑강,...,POINT (130.07278 37.06528),2101,33378916,37.125,130.125,0.210858,84.83017,19.855,33.385002,201911
179998,Brevibacterium frigoritolerans,None,Brevibacterium,None,Brevibacteriaceae,None,Micrococcales,None,Actinomycetes,None,...,POINT (130.18333 37.09056),2101,33378916,37.125,130.125,0.210858,84.83017,19.855,33.385002,201911
179999,Brevibacterium frigoritolerans,None,Brevibacterium,None,Brevibacteriaceae,None,Micrococcales,None,Actinomycetes,None,...,POINT (130.18333 37.09056),2101,33378916,37.125,130.125,0.210858,84.83017,19.855,33.385002,201911

In [9]:
# 컬럼이 너무 많아서 필요한 항목만 선택하여 다른 공간데이터프레임으로 저장
gdf_pt3 = gdf_pt2[['phylum', 'phylum_nm', 'geometry']]
gdf_pt3.info()
gdf_pt3.head()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 24277 entries, 29 to 220823
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   phylum     24272 non-null  object
 1   phylum_nm  21619 non-null  object
 2   geometry   24277 non-null  geometry
dtypes: geometry(1), object(2)
memory usage: 758.7+ KB

                phylum phylum_nm                    geometry
29           Bacillota      None  POINT (130.18611 37.09500)
179996      Arthropoda     절지동물문  POINT (130.07278 37.06528)
179997      Arthropoda     절지동물문  POINT (130.07278 37.06528)
179998  Actinomycetota      None  POINT (130.18333 37.09056)
179999  Actinomycetota      None  POINT (130.18333 37.09056)

### 추출된 종분포와 해양생물해역을 공간조인

In [10]:
# 해양생물해역
gdf_area = gpd.read_file('../data/geo_zn_ocn_lvb_sarea.shp', encoding="UTF-8")
gdf_area.info()
gdf_area.head()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   gid         5 non-null      int64
 1   sarea_korn  5 non-null      object
 2   ssea_id     5 non-null      object
 3   geometry    5 non-null      geometry
dtypes: geometry(1), int64(1), object(2)
memory usage: 292.0+ bytes

   gid sarea_korn ssea_id                                           geometry
0    5       동해남부      ES  POLYGON ((129.66570 35.06455, 129.40532 34.971...
1    4       남해동부      SE  POLYGON ((127.82165 33.16382, 127.80000 33.121...
2    3         서해       W  POLYGON ((127.00000 38.00000, 127.00000 35.300...
3    2       남해서부      SW  POLYGON ((126.27256 30.28900, 126.21167 30.271...
4    1       동해중부      EM  POLYGON ((132.14285 36.50000, 129.30000 36.500...

In [11]:
# 종분포(포인트)에  해양물리를 공간조인  
gdf_pt3 = gpd.sjoin(gdf_pt3, gdf_area )
gdf_pt3.info()
gdf_pt3.head()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 24277 entries, 29 to 80412
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   phylum       24272 non-null  object
 1   phylum_nm    21619 non-null  object
 2   geometry     24277 non-null  geometry
 3   index_right  24277 non-null  int64
 4   gid          24277 non-null  int64
 5   sarea_korn   24277 non-null  object
 6   ssea_id      24277 non-null  object
dtypes: geometry(1), int64(2), object(4)
memory usage: 1.5+ MB

,phylum,phylum_nm,geometry,index_right,gid,sarea_korn,ssea_id
29,Bacillota,None,POINT (130.18611 37.09500),4,1,동해중부,EM
179996,Arthropoda,절지동물문,POINT (130.07278 37.06528),4,1,동해중부,EM
179997,Arthropoda,절지동물문,POINT (130.07278 37.06528),4,1,동해중부,EM
179998,Actinomycetota,None,POINT (130.18333 37.09056),4,1,동해중부,EM
179999,Actinomycetota,None,POINT (130.18333 37.09056),4,1,동해중부,EM

### 해양생물해역별 문별 개체 수 집계

In [12]:
# 해양생물해역 - 문별 건수 집계
df_size = gdf_pt3.groupby(['sarea_korn', 'phylum'], as_index=False ).size() 
df_size.info()
df_size.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sarea_korn  83 non-null     object
 1   phylum      83 non-null     object
 2   size        83 non-null     int64
dtypes: int64(1), object(2)
memory usage: 2.1+ KB

  sarea_korn           phylum  size
0       남해동부       Arthropoda    19
1       남해동부  Bacillariophyta     1
2       남해동부          Bryozoa     3
3       남해동부         Chordata   501
4       남해동부       Ciliophora    50

In [13]:
# 집계 결과 정렬 - 건수가 많은 순서대로 정렬
df_size_sort = df_size.sort_values(by='size', ascending=False)
df_size_sort.head()

   sarea_korn      phylum  size
70         서해    Chordata  2638
19       남해서부    Chordata  2461
27       남해서부  Ochrophyta  1571
55       동해중부  Ochrophyta  1551
30       남해서부  Rhodophyta  1390

In [14]:
import plotly.express as px

In [15]:
# 집계 결과 차트 시각화 
fig = px.bar(df_size_sort, x="phylum", y="size", color="sarea_korn")
fig.show()

In [16]:
# 집계 결과를 csv로 저장 
df_size_sort.to_csv('result/df_size_sort.csv', encoding='UTF-8')